{% extends "base.html.twig" %}

{% block title %}Gestion des produits
{% endblock %}

{% block body %}
	<main>
		<h1>Gestion des produits</h1>
		<button type="submit">
			<a href="{{path('manageProductNew')}}">Ajouter un produit</a>
		</button>
		<div>
			{%for product in products %}
				<ul>
					<li>
						<a href="{{path('manageProductId',{id:product.id})}}">{{product.ProductName}}</a>
						~
						{{product.ProductCategory}}
						~
						{{product.ProductPrice}}</li>
				</ul>
			{% endfor %}
		</div>
	</main>
{% endblock %}