{% extends "base.html.twig" %}

{% block title %}Options du compte • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/account-customer.css">
	<main>
		<h1>
			{{account.first_name}} {{account.last_name}}
			<div class="actions">
				{% if account.admin == 1 %}
					<!-- Admin page link -->
					<a href="{{path('admin')}}" target="_blank" class="goto-admin">
						<ion-icon name="build-outline"></ion-icon>
						Administration
					</a>
				{% endif %}
				<!-- Disconnection link -->
				<a href="{{path('disconnect')}}" class="disconnect">
					<ion-icon name="exit-outline"></ion-icon>
					Se déconnecter
				</a>
			</div>
		</h1>
		<div class="account-container">
			<!-- User informations -->
			<section class="account-section primary-information">
				<h2>
					Mes informations
					<button class="open-edit-account-form">Modifier</button>
				</h2>
				<form method="POST" id="edit-account-form">
					<div class="editable-input-container">
						<label for="account_first_name">Prénom</label>
						<input type="text" id="account_first_name" value="{{account.first_name}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_last_name">Nom</label>
						<input type="text" id="account_last_name" value="{{account.last_name}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_email">Email</label>
						<input type="text" id="account_email" value="{{account.email}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_phone">Téléphone</label>
						<input type="text" id="account_phone" value="{{account.phone}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_password">Mot de passe</label>
						<input type="password" id="account_password" value="" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_address">Adresse</label>
						<input type="text" id="account_address" value="{{account.address}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_post_code">Code postal</label>
						<input type="text" id="account_post_code" value="{{account.post_code}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_city">Ville</label>
						<input type="text" id="account_city" value="{{account.city}}" readonly>
					</div>
					<div class="actions">
						<button type="button" class="cancel-changes">Annuler</button>
						<button type="submit" class="apply-changes">Enregistrer les modifications</button>
					</div>
					<!-- <button><a href="{{path('accountIdUpdate', {id: account.id})}}">Modifier</a></button> -->
				</form>
			</section>
			<!-- Commandes -->
			<section class="account-section order">
				<h2>Mes commandes</h2>
				{# <div class="form-user">
					Numéro :
					{{orders.id}}
				</div> #}
			</section>
		</div>
	</main>
	<script src="/js/edit-account.js"></script>
{% endblock %}