{% extends "base.html.twig" %}

{% block title %}Options du compte • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/account-customer.css">
	<main>
		<h1>
			{{customer.customerFirstName}} {{customer.customerLastName}}
			<!-- Disconnection link -->
			<a href="{{path('disconnect')}}" class="disconnect">
				<ion-icon name="exit-outline"></ion-icon>
				Se déconnecter
			</a>
		</h1>
		<div class="account-container">
			<!-- User informations -->
			<section class="account-section primary-information">
				<h2>
					Mes informations
					<button class="open-edit-account-form">Modifier</button>
				</h2>
				<form method="POST" id="edit-account-form">
					<div class="editable-input-container">
						<label for="customer_first_name">Prénom</label>
						<input type="text" id="customer_first_name" value="{{customer.customerFirstName}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="customer_last_name">Nom</label>
						<input type="text" id="customer_last_name" value="{{customer.customerLastName}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="customer_email">Email</label>
						<input type="text" id="customer_email" value="{{customer.customerEmail}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="customer_phone">Téléphone</label>
						<input type="text" id="customer_phone" value="{{customer.customerPhone}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="custmer_password">Mot de passe</label>
						<input type="password" id="custmer_password" value="{{customer.customerPassword}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="customer_address">Adresse</label>
						<input type="text" id="customer_address" value="{{customer.customerAddress}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="customer_post_code">Code postal</label>
						<input type="text" id="customer_post_code" value="{{customer.customerPostCode}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="customer_city">Ville</label>
						<input type="text" id="customer_city" value="{{customer.customerCity}}" readonly>
					</div>
					<div class="actions">
						<button type="button" class="cancel-changes">Annuler</button>
						<button type="submit" class="apply-changes">Enregistrer les modifications</button>
					</div>
					<!-- <button><a href="{{path('accountIdUpdate', {id: customer.id})}}">Modifier</a></button> -->
				</form>
			</section>
			<!-- Commandes -->
			<section class="account-section order">
				<h2>Mes commandes</h2>
				{# <div class="form-user">
					Numéro :
					{{orders.id}}
				</div> #}
			</section>
		</div>
	</main>
	<script src="/js/edit-account.js"></script>
{% endblock %}