{% extends "base.html.twig" %}

{% block title %}Modification du compte • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/form.css">
	<style>
		img{
			width: 50px;
		}
	</style>
	<main>
		<h1>Consultation de la commande ref {{order.id}}</h1>
		Date de la commande : {{order.date}}</p>
		Produits commandés :</p>
		{% for content in order.basket.contents %}
			<img src="/images/cover/{{content.product.productCover}}.jpg" alt="Image de couverture">
			{{content.product.productName ~ " x" ~ content.contentProductQuantity}}</p>
			{% endfor %}
		Montant de la commande : {{order.orderTotal}}

	</main>
{% endblock %}