{% extends "base.html.twig" %}

{% block title %}Options du compte • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/account.css">
	<link rel="stylesheet" href="/css/required-fields.css">
	<script src="/js/form-error.js"></script>
	<main>
		<h1>
			{{account.first_name}} {{account.last_name}}
			<div class="actions">
				{% if account.admin == 1 %}
					<!-- Admin page link -->
					<a href="{{path('admin')}}" target="_blank" class="goto-admin">
						<ion-icon name="build-outline"></ion-icon>
						Administration
					</a>
				{% endif %}
				<!-- Disconnection link -->
				<a href="{{path('disconnect')}}" class="disconnect">
					<ion-icon name="exit-outline"></ion-icon>
					Se déconnecter
				</a>
			</div>
		</h1>
		{% if update %}
			<div class="update-alert">
				<ion-icon name="checkmark-done-outline" class="icon"></ion-icon>
				<span class="content">{{update}}</span>
				<button class="close-alert" title="Fermer" aria-label="Fermer">
					<ion-icon name="close-outline"></ion-icon>
					Fermer
				</button>
			</div>
		{% endif %}
		<div class="account-container">
			<!-- User informations -->
			<section class="account-section primary-information">
				<h2>
					Mes informations
					<div class="required-fields">Les champs laissés vides seront inchangés.</div>
					<button class="open-edit-account-form">
						<ion-icon name="pencil-outline"></ion-icon>
						Modifier
					</button>
				</h2>
				<!-- Form error alert -->
				<div class="form-error-alert">
					<ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
					<span class="error-content">
						<span class="error-title"></span>
						<span class="error-subtitle"></span>
					</span>
				</div>
				<!-- Edit account form -->
				<form method="POST" action="{{path('edit-account')}}" id="edit-account-form">
					<div class="editable-input-container">
						<label for="account_first_name">
							<ion-icon name="person-circle-outline"></ion-icon>
							Prénom
						</label>
						<input type="text" name="account_first_name" id="account_first_name" value="{{account.first_name}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_last_name">
							<ion-icon name="person-circle-outline"></ion-icon>
							Nom
						</label>
						<input type="text" name="account_last_name" id="account_last_name" value="{{account.last_name}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_email">
							<ion-icon name="mail-outline"></ion-icon>
							E-mail
						</label>
						<input type="text" name="account_email" id="account_email" value="{{account.email}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_phone">
							<ion-icon name="call-outline"></ion-icon>
							Téléphone
						</label>
						<input type="text" name="account_phone" id="account_phone" value="{{account.phone}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_password">
							<ion-icon name="lock-closed-outline"></ion-icon>
							Mot de passe
						</label>
						<input type="password" name="account_password" id="account_password" value="" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_address">
							<ion-icon name="home-outline"></ion-icon>
							Adresse
						</label>
						<input type="text" name="account_address" id="account_address" value="{{account.address}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_post_code">
							<ion-icon name="home-outline"></ion-icon>
							Code postal
						</label>
						<input type="text" name="account_post_code" id="account_post_code" value="{{account.post_code}}" readonly>
					</div>
					<div class="editable-input-container">
						<label for="account_city">
							<ion-icon name="business-outline"></ion-icon>
							Ville
						</label>
						<input type="text" name="account_city" id="account_city" value="{{account.city}}" readonly>
					</div>
					<div class="actions">
						<button type="button" class="cancel-changes">
							<ion-icon name="close-circle-outline"></ion-icon>
							Annuler
						</button>
						<button type="submit" class="apply-changes">
							<ion-icon name="checkmark-circle-outline"></ion-icon>
							Enregistrer les modifications
						</button>
					</div>
				</form>
			</section>
			{% if account.admin == 0 %}
				<!-- Commandes -->
				<section class="account-section order">
					<h2>Mes commandes</h2>
					<div class="form-user">
					<table>
						<tr>
						<th>Ref de la commande</th>
						<th>Date de la commande</th>
						<th>Montant total</th>
						<th>Actions</th>
					</tr>
						{% for order in orders %}
					<tr>
						<td>{{order}}</td>
						<td>{{order}}</td>
						<td>{{order}}</td>
						<td><a href="{{path('consult-order', {id:order.id})}}"> Voir </a></td>
					</tr>			
						{% endfor %}
					</table>
					</div>
				</section>
			{% endif %}
		</div>
	</main>
	<script src="/js/edit-account.js"></script>
	<script>
		// Close update alert
		document.querySelector(".close-alert").addEventListener("click", e => {e.target.parentNode.remove()})
	</script>
{% endblock %}