{% extends "base.html.twig" %}

{% block title %}Modification du compte • Yellow
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/account.css">
	<link rel="stylesheet" href="/css/titles.css">
	<style>
		img {
			width: 50px;
		}
	</style>
	<main>
		<h1>Commande n°
			{{order.id}}</h1>
		<a href="{{path('account')}}" class="back">
			<ion-icon name="chevron-back-outline"></ion-icon>
			Retour à la page précédente
		</a>
		<div class="account-container editable-input-container">
			<section class="account-section">
			<div>
				<span class="field">
					Date de la commande :
				</span>
				<span class="data">
					{{order.date}}
			</span>
			</div>
			<div>
			<span class="field">
				Produits commandés :</p>
			</span>
			<span class="data">
				{% for content in order.basket.contents %}
					<img src="/images/cover/{{content.product.productCover}}.jpg" alt="Image de couverture">
					{{content.product.productName ~ " x" ~ content.contentProductQuantity}}</p>
			{% endfor %}
		</span>
		</div>
		<div>
		<span class="field">
			Montant de la commande :
		</span>
		<span class="data">
			{{order.orderTotal}}
		</span>
		</div>
	</section>
</div></main>{% endblock %}
