{% extends "base.html.twig" %}

{% block title %}Commande n°{{order.id}} • Yellow
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/account.css">
	<link rel="stylesheet" href="/css/titles.css">
	<style>img {width: 50px}</style>
	<main>
		<h1>Commande n°{{order.id}}</h1>
		<!-- Back to account page -->
		<a href="{{path('account')}}" class="back">
			<ion-icon name="chevron-back-outline"></ion-icon>
			Retour au compte
		</a>
		<div class="account-container">
		<section class="account-section">
			<h2>Détails</h2>
			<div class="editable-input-container">
				<div class="field">Date</div>
				<div class="data">{{order.date}}</div>
			</div>
			<div class="editable-input-container">
				<span class="field">Contenu de la commande</span>
				<span class="data">
					{% for product in products %}
						{% for content in contents %}
							{% if content.id == product.id %}
								<div class="item">
									{{content.Quantity}}x 
									<a href="{{path('product', {id: content.product.id})}}">
										<img src="/images/cover/{{content.product.productCover}}.jpg" alt="Image de couverture">
									</a>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</span>
			</div>
			<div class="editable-input-container">
				<span class="field">Montant</span>
				<span class="data">{{order.orderTotal}}€</span>
			</div>
		</section>
	</main>
{% endblock %}