{% extends "base.html.twig" %}

{% block title %}"{{query}}" • Recherche • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/catalog.css">
	<link rel="stylesheet" href="/css/home.css">
	<main>
		<h1>Résultats pour "{{query}}"</h1>
		<!-- Searchbar -->
		<div class="searchbar">
			<form method="POST" class="search-form">
				<input class="search-input" id="search" name="query" placeholder="Rechercher un produit">
				<button type="submit" id="btn-search" class="btn-search">
					<ion-icon name="search-outline" size="large"></ion-icon>
				</button>
			</form>
			<script>
				// Send form with search query
				document.querySelector(".search-form").addEventListener("submit", e => {
					e.preventDefault();
					const url = "{{path('search', {query: 'search-value'})}}"
						.replace("search-value", e.target.children[0].value);
					e.target.setAttribute("action", url);
					e.target.submit()
				})
			</script>
		</div>
		<!-- Catalog container -->
		<div class="catalog-container">
			{% for product in products %}
				{% if product.productStock >= 0 %}
					<a href="{{path('product', {id: product.id})}}" class="product" style="background-image: url(/images/cover/{{product.productCover}}.jpg)">
						<div class="product-footer">
							<div class="product-primary-info">
								<div class="product-info">
									<span class="product-title">{{product.productName}}</span>
									<div class="product-subtitle">
										{{product.productAuthor}} •<span class="product-date">{{product.productDate}}</span>
									</div>
								</div>
								<div class="product-price">{{product.productPrice}}€</div>
							</div>
							<div class="product-desc">{{product.productDesc}}</div>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</main>
{% endblock %}