{% extends "base.html.twig" %}

{% block title %}Gestion des commandes • Yellow{% endblock %}
{% block body %}
	<main>
		<link rel="stylesheet" href="/css/admin.css">
		<style>img {width: 50px}</style>
		<h1>Gestion des commandes</h1>
		<!-- Actions -->
		<div class="actions">
			<!-- Back to catalog link -->
			<a href="{{path('admin')}}" class="back">
				<ion-icon name="chevron-back-outline"></ion-icon>
				Retour à la page d'administration
			</a>
		</div>
		<!-- Orders table -->
		<table>
			<tr>
				<th>Date de la commande</th>
				<th>Ref de la commande</th>
				<th>ID du client</th>
				<th>Nom du client</th>
				<th>Produit(s) commandé(s)</th>
				<th>Montant total</th>
				<th>Actions</th>
			</tr>
			{% for order in orders %}
				<tr>
					<td>{{order.date}}</td>
					<td>{{order.id}}</td>
					<td>{{order.customer.id}}</td>
					<td>{{order.customer.customerFirstName ~ ' ' ~ order.customer.customerLastName}}</td>
					<td class="content">
						{% for contentOrder in order.contentOrders %}
							<img src="/images/cover/{{contentOrder.product.productCover}}.jpg" alt="Image de couverture">
							{{contentOrder.product.productName ~ ' x ' ~ contentOrder.quantity}}</p>
						{% endfor %}
					</td>
					<td>{{order.orderTotal}} €</td>
					<td>
						<a href="{{path('remove-order', {id: order.id})}}" class="delete">
							<ion-icon name="trash-outline"></ion-icon>
							Supprimer
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</main>
{% endblock %}