{% extends "base.html.twig" %}

{% block title %}Inscription • Yellow{% endblock %}

{% block body %}
	<style></style>
	<h1>Inscription</h1>
	<div class="container-fluid">
		{# {{form_row(form_inscription.customer_last_name)}}
		{{form_row(form_inscription.customer_first_name)}}
		{{form_row(form_inscription.customer_email)}}
		{{form_row(form_inscription.customer_phone)}}
		{{form_row(form_inscription.customer_password)}}
		{{form_row(form_inscription.customer_address)}}
		{{form_row(form_inscription.customer_post_code)}}
		{{form_row(form_inscription.customer_city)}}
		{{form_row(form_inscription.submit)}} #}
		{{form(form_inscription)}}
	</div>
{% endblock %}