{% extends "base.html.twig" %}

{% block title %}Gestion des clients{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <h1>Gestion du client : {{ customer.customerFirstName ~ " " ~ customer.customerLastName }}</h1>
    <ul>
        <li>Nom : {{ customer.customerFirstName }}</li>
        <li>Prénom : {{ customer.customerLastName }}</li>
        <li>Email : {{ customer.customerEmail }}</li>
        <li>Numéro de téléphone : {{ customer.customerPhone }}</li>
        <li>Adresse : {{ customer.customerAddress }}</li>
        <li>Code postal : {{ customer.customerPostCode }}</li>
        <li>Ville : {{ customer.customerCity }}</li>
    </ul>
    <div class="col-12 text-center">
    <a href="{{path('manageCustomer') }}" class="btn btn-primary">Retour</a>
    <a href="{{ path('manageCustomerUpdate',{id:customer.id}) }}" class="btn btn-primary">Modifier la fiche client</a>
    </div>

</div>
{% endblock %}