{% extends "base.html.twig" %}

{% block title %}Gestion des clients • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/admin.css">
	<main>
		<h1>Gestion des clients</h1>
		<!-- Actions -->
		<div class="actions">
			<!-- Back to catalog link -->
			<a href="{{path('admin')}}" class="back">
				<ion-icon name="chevron-back-outline"></ion-icon>
				Retour
			</a>
			<!-- Add new customer -->
			<a href="{{path('manageCustomerNew')}}" class="add-row">
				<ion-icon name="add-outline"></ion-icon>
				Nouveau client
			</a>
		</div>
		<!-- Customers table -->
		<table>
			<tr>
				<th>ID</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>E-mail</th>
				<th>Téléphone</th>
				<th>Mot de passe</th>
				<th>Adresse</th>
				<th>Code postal</th>
				<th>Ville</th>
				<th>Actions</th>
			</tr>
			{%for customer in customers %}
				<tr>
					<td>{{customer.id}}</td>
					<td>{{customer.customerFirstName}}</td>
					<td>{{customer.customerLastName}}</td>
					<td>{{customer.customerEmail}}</td>
					<td>{{customer.customerPhone}}</td>
					<td>{{customer.customerPassword}}</td>
					<td>{{customer.customerAddress}}</td>
					<td>{{customer.customerPostCode}}</td>
					<td>{{customer.customerCity}}</td>
					<td class="actions">
						<a href="{{path('manageCustomerId', {id: customer.id})}}" class="edit">
							<ion-icon name="pencil-outline"></ion-icon>
							Modifier
						</a>
						<a href="#" class="delete">
							<ion-icon name="trash-outline"></ion-icon>
							Supprimer
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</main>
{% endblock %}