{% extends "base.html.twig" %}

{% block title %}Nos mangas • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/catalog.css">
	<main>
		<h1>Nos mangas</h1>

		<div class="form-group">
			<form method="get">
				<label for="category" class="col-form-label">Filtrer par catégorie</label>
				<select type="text" class="form-control" id="category_search" name="category_search" onchange="chargeURL()">
					<option value="">(Aucun)</option>
					{% for category in categories %}
						<option {{ (category == category_search ? 'selected') }} value="{{path('categorySearch', {category: products})}}">{{ category }}</option>
					{% endfor %}
				</select>
			</form>

		<div class="catalog-container">
			{% for product in products %}
				<a href="{{path('product', {id: product.id})}}" class="product" style="background-image: url(/images/cover/{{product.productCover}}.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">{{product.productName}}</span>
								<div class="product-subtitle">
									{{product.productAuthor}} •<span class="product-date">{{product.productDate}}</span>
								</div>
							</div>
							<div class="product-price">{{product.productPrice}}€</div>
						</div>
						<div class="product-desc">{{product.productDesc}}</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</main>
<script>
function chargeURL()
{
window.location.href=document.getElementById('category_search').value;
}
</script>
{% endblock %}

