{% extends "base.html.twig" %}

{% block title %}
	{% if filter == "all" %}
		Notre catalogue
	{% else %}
		Nos {{filter}}s
	{% endif %} • Yellow
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/catalog.css">
	<main>
		<h1>
			{% if filter == "all" %}
				Tous nos mangas
			{% else %}
				Nos {{filter}}s
			{% endif %}
		</h1>
		<form method="get">
		<div class="form-group">
				<label for="stock">Filtrer par produit en stock :</label>
				<select type="text" class="form-control" id="stock_search" name="stock_search">
						<option value="">Tous les produits</option>
						{% if stocks > 0 %}
							<option {{ stocks == stock_search ? 'selected'}}>Les produits en stock</option>
						{% endif %}
				</select>
				<button class="btn btn-primary" type="submit">Rechercher</button>
			</form>
		</div>
		<div class="form-group">
			<form method="POST" id="form-search-by-category">
				<label for="category">Filtrer par catégorie :</label>
				<select id="select-category" onchange="filterByCategory()">
					<option value="all" selected>(Tout)</option>
					{% for category in categories %}
						{% if category == filter %}
							<option value="{{category}}" selected>{{category}}</option>
						{% else %}
							<option value="{{category}}">{{category}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</form>
		</div>
		<div class="catalog-container">
			{% for product in products %}
				<a href="{{path('product', {id: product.id})}}" class="product" style="background-image: url(/images/cover/{{product.productCover}}.jpg)">
					<div class="product-footer">
						<div class="product-primary-info">
							<div class="product-info">
								<span class="product-title">{{product.productName}}</span>
								<div class="product-subtitle">
									{{product.productAuthor}} •<span class="product-date">{{product.productDate}}</span>
								</div>
							</div>
							<div class="product-price">{{product.productPrice}}€</div>
						</div>
						<div class="product-desc">{{product.productDesc}}</div>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="page-container">
		{% if previous >= 0 %}
		<a href="{{ path('catalog', { offset: previous, category: 'all' }) }}" class="page">
			<ion-icon name="chevron-back"></ion-icon> 
		</a>
		{% if offset == 8 %}
		2/3
		{% endif %}
		{% if offset == 16 %}
		3/3
		{% endif %}
		{% endif %}
		{% if next < products|length %}
		{% if offset == 0 %}
		1/3
		{% endif %}
		<a href="{{ path('catalog', { offset: next, category: 'all' }) }}" class="page">
			<ion-icon name="chevron-forward"></ion-icon>
		</a>
		{% endif %}
		</div>
	</main>
	<script>
		const filterByCategory = () => {
			const form = document.querySelector("#form-search-by-category"),
				url = "{{path('catalog', {category: 'value'})}}"
					.replace("value", form.querySelector("#select-category").value);
			form.setAttribute("action", url);
			form.submit()
		}
	</script>
{% endblock %}