{% extends "base.html.twig" %}

{% block title %}Gestion des commandes
{% endblock %}

{% block body %}
	<main>
		<h1>Gestion des commandes</h1>
		<div>
			{%for order in orders %} {%for customer in customers %}

				<ul>
					<li>
						<a href="">{{order.id}}</a> <a href="">{{customer.id}}</a>
						{{customer.customerFirstName}}
						~
						{{order.orderContent}}
						~
						{{order.Date}}						
						</li>
				</ul>
			{% endfor %}
						{% endfor %}

		</div>
	</main>
{% endblock %}