{% extends "base.html.twig" %}

{% block title %}Gestion des commandes • Yellow{% endblock %}
{% block body %}
	<main>
		<link rel="stylesheet" href="/css/admin.css">
		<h1>Gestion des commandes</h1>
				<!-- Actions -->
		<div class="actions">
			<!-- Back to catalog link -->
			<a href="{{path('admin')}}" class="back">
				<ion-icon name="chevron-back-outline"></ion-icon>
				Retour
			</a>
		</div>
		<!-- Orders table -->
		<table>
			<tr>
				<th>Ref de la commande</th>
				<th>Nom du client</th>
				<th>Ref des produits</th>
				<th>Date de la commande</th>
				<th>Montant total</th>
				<th>Action</th>
			</tr>

			{% for order in orders %}
			<tr>
						<td>{{order.id}}</td>
						<td>{{order.basket.customer.customerFirstName ~ ' ' ~ order.basket.customer.customerLastName}}</td>
						<td>{{order.orderContent}}</td>
						<td>{{order.Date}}</td>
						<td>{{order.orderTotal}}</td>
						<td><a href="#">Supprimer</a></td>
			</tr>	
			{% endfor %}
		</table>
	</main>
{% endblock %}