{% extends "base.html.twig" %}

{% block title %}Gestion des produits • Yellow{% endblock %}
{% block body %}
	<link rel="stylesheet" href="/css/admin.css">
	<main>
		<h1>Gestion des produits</h1>
		<!-- Actions -->
		<div class="actions">
			<!-- Back to catalog link -->
			<a href="{{path('admin')}}" class="back">
				<ion-icon name="chevron-back-outline"></ion-icon>
				Retour à la page d'administration
			</a>
			<!-- Add new product -->
			<a href="{{path('new-product')}}" class="add-row">
				<ion-icon name="add-outline"></ion-icon>
				Nouveau produit
			</a>
		</div>
		<!-- Products table -->
		<table>
			<tr>
				<th>ID</th>
				<th>Titre</th>
				<th>Auteur</th>
				<th>Année</th>
				<th>Description</th>
				<th>Nom du fichier de couverture</th>
				<th>Prix</th>
				<th>Stock</th>
				<th>Catégorie</th>
				<th>Actions</th>
			</tr>
			{%for product in products %}
				<tr>
					<td>{{product.id}}</td>
					<td>{{product.productName}}</td>
					<td>{{product.productAuthor}}</td>
					<td>{{product.productDate}}</td>
					<td>{{product.productDesc}}</td>
					<td>{{product.productCover}}</td>
					<td>{{product.productPrice}}</td>
					<td>{{product.productStock}}</td>
					<td>{{product.productCategory}}</td>
					<td class="actions">
						<a href="{{path('edit-product', {id: product.id})}}" class="edit">Modifier</a>
						<a href="#" class="delete">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</main>
{% endblock %}