{% extends "base.html.twig" %}

{% block title %}Panier • Yellow{% endblock %}

{% block body %}
	<link rel="stylesheet" href="/css/basket.css">
	<main>
		<h1>Mon panier</h1>
		<div class="basket-container">
			<div class="basket">
				{% if items|length == 0 %}
				<div class="basket-empty">
					<img src="images/coffee.png">
					<h2>Votre panier est vide !</h2>
					<a href="/mangas/all"><p>Commencez à explorer notre catalogue.</p></a>
				</div>
				{% else %}
					<h2>Contenu du panier</h2>
					<span class="basket-count">
						{{items|length}}
						{% if items|length > 1 %}
							items
						{% else %}
							item
						{% endif %}
					</span>
					<ul class="basket-content">
						{% for item in items %}
							<li>
								<div class="product-info-container">
									<img src="/images/cover/{{item.productCover}}.jpg" class="product-cover">
									<div class="product-info">
										<a href="{{path('product', {id: item.id})}}" class="product-title" title="Voir le manga" aria-label="Voir le manga">{{item.productName}}</a>
										<span class="product-subtitle">
											<span class="product-author">{{item.productAuthor}}</span> • 
											<span class="product-date">{{item.productDate}}</span>
										</span>
										<span class="product-price">{{item.productPrice}}€</span>
									</div>
								</div>
								<div class="product-actions">
									<form method="POST" class="product-quantity" data-item="{{content[loop.index - 1].id}}">
										Quantité
										<select id="edit-quantity" onchange="editQuantity(this)">
											{% set quantity = content[loop.index - 1].contentProductQuantity %}
											{% for i in range(1, 10) %}
												{% if quantity == i %}
													<option value="{{i}}" selected>{{i}}</option>
												{% else %}
													<option value="{{i}}">{{i}}</option>
												{% endif %}
											{% endfor %}
										</select>
									</form>
									<a href="{{path('remove-from-basket', {id: content[loop.index - 1].id})}}" class="remove-from-basket">
										<ion-icon name="trash-outline"></ion-icon>
										Retirer
									</a>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			{% if items|length > 0 %}
				<div class="recap">
					<h2>Prix total (TTC) :</h2>
					<div class="total-price">
						{% set total = 0 %}
						{% for item in items %}
							{% set total = total + (item.productPrice * content[loop.index - 1].contentProductQuantity) %}
						{% endfor %}
						{{total|number_format(2)}}€
					</div>
					<a href="{{path('make-order')}}" id="validate-basket">
						<ion-icon name="bag-check-outline"></ion-icon>
						Passer commande
					</a>
				</div>
			{% endif %}
		</div>
	</main>
	<script>
		const editQuantity = select => {
			const form = select.parentNode,
				url = "{{path('edit-quantity', {id: 'item', quantity: 'value'})}}"
					.replace("item", form.dataset.item)
					.replace("value", select.value);
			form.setAttribute("action", url);
			form.submit()
		}
	</script>
{% endblock %}