{% extends "base.html.twig" %}

{% block title %}Panier • Yellow{% endblock %}

{% block body %}
	<link rel="stylesheet" href="/css/basket.css">
	<main>
		<h1>Mon panier</h1>
		<div class="basket-container">
			<div class="basket">
				{% if items|length == 0 %}
					<h2>Votre panier est vide !</h2>
					<p>Commencez à explorer notre catalogue.</p>
				{% else %}
					<h2>Contenu du panier</h2>
					<span class="basket-count">
						{{items|length}}
						{% if items|length > 1 %}
							items
						{% else %}
							item
						{% endif %}
					</span>
					<ul class="basket-content">
						{% for item in items %}
							<li>
								<div class="product-info-container">
									<img src="/images/cover/{{item.productCover}}.jpg" class="product-cover">
									<div class="product-info">
										<a href="{{path('product', {id: item.id})}}" class="product-title" title="Voir le manga" aria-label="Voir le manga">{{item.productName}}</a>
										<span class="product-subtitle">
											<span class="product-author">{{item.productAuthor}}</span> • 
											<span class="product-date">{{item.productDate}}</span>
										</span>
										<span class="product-price">{{item.productPrice}}€</span>
									</div>
								</div>
								<div class="product-actions">
									<label class="product-quantity">
										Quantité
										<input type="number" value="{{content[loop.index - 1].contentProductQuantity}}">
									</label>
									<a href="{{path('remove-from-basket', {id: content[loop.index - 1].id})}}" class="remove-from-basket">
										<ion-icon name="trash-outline"></ion-icon>
										Retirer
									</a>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			{% if items|length > 0 %}
				<div class="recap">
					<h2>Prix total (TTC) :</h2>
					<div class="total-price">
						{% set total = 0 %}
						{% for item in items %}
							{% set total = total + (item.productPrice * content[loop.index - 1].contentProductQuantity) %}
						{% endfor %}
						{{total|number_format(2)}}€
					</div>
					<a href="#" id="validate-basket">
						<ion-icon name="bag-check-outline"></ion-icon>
						Passer commande
					</a>
				</div>
			{% endif %}
		</div>
	</main>
{% endblock %}